@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@theme {
    --color-primary: oklch(0.5963 0.2355 291.89);
    --color-success: oklch(0.8665 0.2944 142.54);
    --color-error: oklch(0.6767 0.204 23.47);
    --color-destructive: oklch(0.605 0.504 23.47);
    --color-highlight: oklch(0.7659 0.1373 297.45);
    --color-hover-bg: oklch(0.6712 0.1907 295.36);
    --color-popover: oklch(0.99 0.1373 297.45);
}

:root {
    --selection-bg: oklch(0.7659 0.1373 297.45);
    --selection-text: #ffffff;
    --ui-primary: oklch(0.5963 0.2355 291.89);
    --ui-highlight: oklch(0.7659 0.1373 297.45);
    /* Least prominent text */
    --ui-text-dimmed: var(--ui-color-neutral-400);
    /* Slightly muted text */
    --ui-text-muted: var(--ui-color-neutral-500);
    /* Moderately prominent text */
    --ui-text-toned: var(--ui-color-neutral-600);
    /* Default text color */
    --ui-text: oklch(0 0 0);
    /* Most prominent text */
    --ui-text-highlighted: var(--ui-color-neutral-900);

    /* Main background color */
    --ui-bg: var(--color-white);
    /* Subtle background */
    --ui-bg-muted: var(--ui-color-neutral-50);
    /* Slightly elevated background */
    --ui-bg-elevated: var(--ui-color-neutral-100);
    /* More prominent background */
    --ui-bg-accented: var(--ui-color-neutral-200);
    /* Inverted background color */
    --ui-bg-inverted: var(--ui-color-neutral-900);

    /* Default border color */
    --ui-border: var(--ui-color-neutral-200);
    /* Subtle border */
    --ui-border-muted: var(--ui-color-neutral-200);
    /* More prominent border */
    --ui-border-accented: var(--ui-color-neutral-300);
    /* Inverted border color */
    --ui-border-inverted: var(--ui-color-neutral-900);
}

::selection {
    background: var(--selection-bg);
    color: var(--selection-text);
}
